@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Shrikhand&display=swap');




.App{
  max-width:1080px;
  margin:0 auto;
}

a{
  font-family: Quicksand;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color:#2D2C72;
  text-decoration:none;
  padding:20px;
}

.allPosts{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  margin:50px auto;
}

.account_form{
  margin: 0 0 30px 0;
}

.buttonClosed{
  height:40px;
  width:220px;
  background-color:#2D2C72;
  outline:none;
  border:none;
  margin:10px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonOpen{
  height:40px;
  width:220px;
  background-color:#B1C8F7;
  outline:none;
  border: 1px solid #2D2C72;
  margin:10px auto;
}

.buttonOpen__footer{
  height:40px;
  width:220px;
  outline:none;
  margin:5px auto;
  background-color:rgba(255, 0, 0, 0);
  border:solid 0px #FFFFFF;
}

.buttonOpen__footer a{
  font-family: Quicksand;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.01em;
  color:#2D2C72;
  text-decoration:none;
}

.buttonOpen__red{
  height:21px;
  width:118px;
  outline:none;
  border:1px solid #9A260C;
  margin:8px;
  background-color:#B1C8F6;
  border-radius:5px;
}

.buttonOpen__red a{
  font-family: Quicksand;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  text-decoration:none;
  color: #9A260C;
}

.buttonClosed a{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #B1C8F6;
}

.buttonClosed p{
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #B1C8F6;
}

.create_wrapper{
  margin:80px auto;
}

.create_account{
  margin:0px auto;
  display:flex;
  flex-direction:column;
  text-align:center;
}

.date{
  text-align:right;
  color:#2D2C72;
  font-weight:300;
}
form{
  display:flex;
  flex-direction:column;
  max-width:300px;
  margin:30px auto;
  text-align:center;
}

footer{
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  display:flex;
  flex-direction:row;
  justify-items:center;
  align-items:flex-end;
  height:100px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #CFDEFB 70%, #CFDEFB 100%);
}

h1{
  font-family: Shrikhand;
  font-size: 48px;
  line-height: 70px;
  text-align: center;
  color: #2D2C72;
}

h2{
  font-family: Shrikhand;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 35px;
  display: flex;
  align-items: left;
  color: #2D2C72;
  text-transform: lowercase;
}

h3{
  font-family: Quicksand;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.01em;
  color: #3D2604;
  margin:0;
  padding:10px;
}

.Home{
  display:flex;
  flex-direction:column;
}

.HomePost{
  width:300px;
  height:150px;
  background-color: #FEECDE;
  border-radius: 5px;
  margin:15px;
  display:flex;
  flex-direction:column;
  align-items:center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 

.HomePost a{
  font-family: Quicksand;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color:#3D2604;
  text-decoration:none;
}

.Header{
  position:fixed;
  top:0;
  height:40px;
  background: #B1C8F6;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 1px 5px rgba(61, 38, 4, 0.5);
  width:100%;
  margin:0;
  left:0;
}

.Header h2{
  margin-left:35px;
}

hr{
  border: 1px solid #65420F;
  width:100%;
  margin:0;
  padding:0;
}

input{
  border: 1px solid #E5EDFD;
  margin:20px;
  outline:none;
  background: #E5EDFD;
  border-radius: 15px;
  height:40px;
  width:300px;

}

input[type=text]{
  font-family: Quicksand;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #13043D;
  margin:15px auto;
}

input[type=email]{
  font-family: Quicksand;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #13043D;
  margin:10px auto;
}

input[type=password]{
  font-family: Quicksand;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #13043D;
  margin:10px auto;
}

input:focus{
  margin:20px;
  outline:none;
  border:1px solid #2D2C72;
  margin:10px auto;
}

p{
  font-family: Quicksand;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color:#2D2C72;
  margin:0 20px;
}

.postText{
  height:200px;
}

.SinglePost{
  height:440px;
  background: #FEECDE;
  border-radius: 5px;
  margin:60px 20px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align:center;
}

.SinglePost h2{
  flex-basis: 50%;
  color:#3D2604;
}

.signUpForm{
  margin:20px auto;
}

.SinglePost p{
  margin:auto 20px;
  color:#3D2604;
}

.login{
  margin:0 auto;
  display:flex;
  flex-direction:column;
  text-align:center;
  align-content:space-between;
  justify-content: center;
}

@media (max-width: 650px){
  .allPosts{
    display:flex;
    flex-direction:column;
  }
}