@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@600&family=Rakkas&display=swap');

.App{
  max-width:1080px;
  margin:0 auto;
  text-align:center;
}

.buttonClosed{
  height:40px;
  width:220px;
  background-color:#074829;
  border-radius:5px;
  outline:none;
  border:none;
  margin:10px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonOpen{
  height:40px;
  width:220px;
  background-color:#FFFFFF;
  border-radius:5px;
  outline:none;
  border:1px solid #074829;
  margin:10px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonOpen__red{
  height:40px;
  width:220px;
  background-color:#FFFFFF;
  border-radius:5px;
  outline:none;
  border:1px solid #9A260C;
  margin:10px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonOpen__red a{
  font-family: Josefin Slab;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: lowercase;
  color: #9A260C;
  text-decoration:none;
}

.buttonClosed a{
  font-family: Josefin Slab;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: lowercase;
  color: #FFFFFF;
}

.buttonClosed p{
  font-family: Josefin Slab;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: lowercase;
  color: #FFFFFF;
}

.buttonOpen a{
  font-family: Josefin Slab;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: lowercase;
  color: #074829;
  text-decoration:none;
}

.buttonOpen p{
  font-family: Josefin Slab;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: lowercase;
  color: #074829;
  text-decoration:none;
}

form{
  display:flex;
  flex-direction:column;
  max-width:300px;
  margin:0 auto;
}

h1{
  font-family: Rakkas;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 107px;
  text-align: center;
  color: #074829;
  text-shadow: 0px 1px 5px rgba(8, 64, 17, 0.5);
}

h2{
  font-family: Rakkas;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #4D6B5D;
}

h3{
  font-family: Rakkas;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color:#000000;
}

input{
  border-bottom: 1px dashed #074829;
  border-top:1px solid #FFFFFF;
  border-left:1px solid #FFFFFF;
  border-right:1px solid #FFFFFF;
  margin:20px;
  padding:10px;
  outline:none;
}

input:focus{
  border-bottom: 1px dashed #074829;
  border-top:1px solid #FFFFFF;
  border-left:1px solid #FFFFFF;
  border-right:1px solid #FFFFFF;
  margin:20px;
  padding:10px;
  outline:none;
  background-color:#E2EDDE;
}

nav{
  display:flex;
  flex-direction:column;
  flex-wrap:no-wrap;
}

p{
  font-family: Josefin Slab;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #4D6B5D;
}