@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Share+Tech+Mono&display=swap');

.App{
  max-width:1080px;
  margin:0 auto;
  text-align:center;
  background-color:black;
}

a{
  font-family: Share Tech Mono;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #FFFFFF;
  text-decoration:none;
}

.allPosts{
  margin: 50px  auto 125px auto;
}

.buttonClosed{
  height:40px;
  width:220px;
  background-color:#48FFF4;
  outline:none;
  border:none;
  margin:10px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonOpen{
  height:40px;
  width:220px;
  background-color:#000000;
  outline:none;
  border:1px solid #48FFF4;
  margin:10px auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonOpen__red{
  height:21px;
  width:118px;
  background-color:#000000;
  outline:none;
  border:1px solid #ff4a3d;
  margin:8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.buttonOpen__red a{
  font-family: Share Tech Mono;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #ff4a3d;
}

.buttonClosed a{
  font-family: Share Tech Mono;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #000000;
}

.buttonClosed p{
  font-family: Share Tech Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color:black;
}

.buttonClosed p:hover{
  font-family: Share Tech Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
}

.buttonOpen a{
  font-family: Share Tech Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  text-decoration:none;
  color:#48FFF4;
}

.buttonOpen p{
  font-family: Josefin Slab;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: lowercase;
  color: #074829;
  text-decoration:none;
}

.buttonOpen p:hover{
  font-family: Josefin Slab;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: lowercase;
  color: #074829;
  text-decoration:none;
  cursor:pointer;
}

.enter{
  display:flex;
  flex-direction:column;
  text-align:center;
  justify-content:center;
}

form{
  display:flex;
  flex-direction:column;
  max-width:300px;
  margin:0 auto;
}

footer{
  position:fixed;
  bottom:0;
  width:100%;
  height:15%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #000000 60%);
}

h1{
  font-family: Monoton;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 75px;
  text-align: center;
  background: -webkit-linear-gradient(#48FFF4, #80FF01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2{
  font-family: Monoton;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  background: -webkit-linear-gradient(#48FFF4, #80FF01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3{
  font-family: Share Tech Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  background: -webkit-linear-gradient(#48FFF4, #80FF01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height:;
  margin:0 auto 10px auto;
}

.HomePost{
  width:350px;
  height:137;
  background: #f0edeb;
  border-radius: 5px;
  margin:25px auto;
  padding:20px;
  display:flex;
  flex-direction:column;
  text-align:center;
  background-color:#1D1D1D;
}

.HomePost a{
  font-family: Share Tech Mono;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #FFFFFF;
  text-decoration:none;
}

.HomePost a:hover{
  font-family: Share Tech Mono;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
   background: -webkit-linear-gradient(#48FFF4, #80FF01);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height:;
  text-decoration:none;
}

.Header{
  height:40px;
  background: #000000;
  border-bottom: 1px solid #074829;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  margin:20px;
}

.Header h2{
  margin-left:35px;
}

hr{
   border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #48FFF4, #80FF01, #48FFF4);
    width:500px;
}

input{
  border-bottom: 1px solid #000000;
  border-top:1px solid #000000;
  border-left:1px solid #000000;
  border-right:1px solid #000000;
  margin:20px;
  padding:10px;
  outline:none;
  background-color:#1D1D1D;

}

input[type=text]{
  font-family: Share Tech Mono;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #48FFF4;
  text-decoration:none;
  height:50px;
}

input[type=email]{
  font-family: Share Tech Mono;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #48FFF4;
  text-decoration:none;
  height:40px;
}

input[type=password]{
  font-family: Share Tech Mono;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #48FFF4;
  text-decoration:none;
  height:40px;
}

input:focus{
  margin:20px;
  padding:10px;
  outline:none;
  border:1px solid #48FFF4;
}

nav{
  display:flex;
  flex-direction:column;
  flex-wrap:no-wrap;
}

p{
  font-family: Share Tech Mono;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  text-transform: lowercase;
  color: #FFFFFF;
}

.SinglePost{
  background: #000000;
  border-radius: 5px;
  text-align:left;
  margin:30px;
  display:flex;
  flex-direction:column;
  text-align:center;
}